@import 'libs/bootstrap-reboot.min';

@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';
@import 'base/buttons';
@import 'base/title';






@import 'base/header';
@import 'base/header-mobile';
@import 'base/breadcrumbs';
@import 'base/promo';

@import 'base/footer';




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*


*/

*, *:before, *:after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}

section, header, footer {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include for-desktop {
    max-width: 1200px;
  }


  @include for-tablet-landscape {
    max-width: 100%;
    padding: 0 45px;
  }
  @include for-tablet-portrait {
    max-width: 100%;
    padding: 0 36px;
  }
  @include for-phone {
    max-width: 100%;
    padding: 0 16px;
  }
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

