.breadcrumbs {
    list-style-type: none;
    display: flex;
    column-gap: 26px;
    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 1px;
            background: rgba(51, 26, 47, 0.5);
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(51, 26, 47, 0.5);
    }
}
