.story {

    &__wrapper {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        @include for-desk {
            max-width: 995px;
        }
    }

    &__title {
        max-width: 844px;
        width: 100%;
        margin: 0 auto;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #331A2F;
        @include for-desk {
            max-width: 776px;
            font-size: 40px;
            line-height: 64px;
        }
        @include for-phone {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__items {
        margin-top: 85px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 80px;
        @include for-tablet {
            gap: 40px;
            margin-bottom: 54px;
        }
        @include for-phone {
            flex-direction: column;
            margin-bottom: 40px;
            gap: 30px;
        }
    }

    &__image {
        @include for-desk {
            max-width: 36%;
            width: 100%;
        }
        @include for-phone {
            max-width: 82%;
            margin: 0 auto;
        }
    }

    &__text {
        max-width: 750px;
        width: 100%;
    }

    &__paragraph {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        color: rgba(51, 26, 47, 0.8);
        @include for-desk {
            font-size: 20px;
            line-height: 32px;
        }
        @include for-phone {
            font-size: 18px;
            line-height: 29px;
        }
    }
}

