.story {

    &__wrapper {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        max-width: 844px;
        width: 100%;
        margin: 0 auto;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #331A2F;
    }

    &__items {
        margin-top: 85px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    &__image {
    }

    &__text {
        max-width: 750px;
        width: 100%;
    }

    &__paragraph {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        color: rgba(51, 26, 47, 0.8);
    }
}

