.study {

    &__wrapper {
        margin-top: 140px;
    }

    &__title {
        max-width: 696px;
        width: 100%;
        margin: 0 auto;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #331A2F;
        &_logo {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 7px;
                bottom: -10px;
                left: 0;
                background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
                border-radius: 5px;
            }
        }
        &_markup {
            color: #EA5DBB;
        }
    }

    &__subtitle {
        max-width: 846px;
        width: 100%;
        margin: 30px auto 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 160%;
        text-align: center;
        color: rgba(51, 26, 47, 0.8);
    }

    &__list {
        margin-top: 85px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 123px;
    }

    &__item {
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background: #CF51CE;
        box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
        border-radius: 15px;
    }

    &__image {
    }

    &__name {
        margin-top: 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #331A2F;

    }

    &__text {
        margin-top: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: rgba(51, 26, 47, 0.8);
    }
}

